#container {
  display: flex;
  height: 360px;
  width: 360px;
  flex-wrap: wrap;
  padding: 0;
  flex-basis: 360px;
  background-color: beige;
  border: 1px solid green;
}

.div {
  height: 22.5px;
  width: 22.5px;
  background-color: beige;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover {
  background-color: blue;
}

.heading {
  text-align: center;

  margin-bottom: 20px;
}
