body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#container {
  display: flex;
  height: 360px;
  width: 360px;
  flex-wrap: wrap;
  padding: 0;
  flex-basis: 360px;
  background-color: rgb(195, 195, 180);
  border: 20px solid rgb(200, 31, 31);
  border-radius: 8px;
}

.div {
  height: 22.5px;
  width: 22.5px;
  background-color: beige;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover {
  background-color: black;
}

.heading {
  text-align: center;

  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #272a2d;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#button:hover,
#button:focus {
  background: #0053ba;
}

#button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

#button:active {
  transform: scale(0.99);
}
